*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
/* Inicio y base */
#logo1{
    align-content: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 0;
}
.cabeceras{
    font-weight: bold;
}

#titulo_1{
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    font-family: sans-serif;
}
.titulo_c{
    color: black;
    text-align: center;
    padding: 10px ;
    font-family: sans-serif;
}

/* Principal container */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

/* Label */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

html{
    height: 100%;
}
/* Fin */
.consult_h1{
    text-align: center;
    background-color: beige;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-decoration-color: white;
}
/*Barra de busqueda*/

/*Tabla de datos*/
#table_title{
    margin: 10px;
    font-family: 'Segoe UI';
    font-weight: bold;
}

