*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
/* Inicio y base */
#logo1{
    align-content: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 0;
}
html{
    height: 100%;
}
/*Tabla de datos*/
#table_title{
    padding: 10px;
    font-family: 'Segoe UI';
    font-weight: bold;
}


